<div class="widget-wrap">
        <h3 class="widget-title">最近访客</h3>
        <div class="widget">
  <!--多说js加载结束，一个页面只需要加载一次 -->  
   <ul class="ds-recent-visitors" data-num-items="200" data-avatar-size="30"></ul> 
        </div>
    </div>